html {
    background-color: #210E09;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin-left: 312px;
    margin-right: 312px;
}

header {
    margin-top: 0.5vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;

    padding: 0;
}

nav li {
    margin: 15px;
}

nav a{
    color: #ffff;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;

    position: relative;

    transition: color .2s linear;
}

nav a:after {
    content: "";
    width: 100%;
    height: 3px;

    display: block;

    opacity: 0;

    background-color: #D5621D;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opasity .2s linear;
}



nav a:hover {
    color: #D5621D;
}

nav a:hover::after {
    opacity: 1;
}

header button {
    width: 188px;
    height: 51px;

    background-color: #210E09;

    border: #D5621D solid 2px;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;

    transition: background-color .2s linear;
}

header button:hover {
    background-color: #D5621D;
}

header button a{
    color: #ffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}

.main-banner {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bigest-banner img {
    border-radius: 5px;
    width: 856px;
    height: 540px;
    position: relative;

    filter: brightness(75%);
}

.banner-text {
    width: 623px;
    height: 120px;
    color: #ffff;

    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 400;

    position: absolute;
    top: 438px;
    left: 373px;
}

.frame-bibanner {
    position: absolute;

    top: 367px;
    left: 379px;

    padding: 10px 20px;
    
    color: #000;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
}

.js-banner {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 416px;
    height: 542px;

    border-radius: 5px;

    background-color: #d5631d25;
}

.js-banner button {
    width: 208px;
    height: 40px;

    background-color: #d5631d00;

    border-radius: 5px, 5px, 0px, 0px;
    border: none;
    
    color: #ffff;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 900;
}

#nearestButton {
    position: absolute;
    top: 0px;
    left: 0px;
}

#soonButton {
    position: absolute;
    top: 0px;
    left: 208px;

    background-color: #d5631d25;
}

.wrapper {
    margin-top: 40px;

    display: grid;
    grid-template-columns: 160px 160px;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.kitchen {
    margin-top: 120px;

    display: grid;
    grid-template-rows: 138px 612px 57px;
}

.heading {
    display: grid;
    grid-template-rows: 38px 78px;
}

.lead, .inscription{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lead span {
    width: 244px;

    padding: 10px 20px 7px 20px;

    color: #000;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 700;
}

.inscription span {
    color: #ffff;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Roboto';
}

.indents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: grid;
    grid-template-columns: 486px 486px;
    grid-template-rows: 111px 111px 111px 111px;
    grid-row-gap: 50px;
    grid-column-gap: 80px;
}

.dish {
    display: flex;
    justify-content: space-between;
}

.label {
    display: grid;
    grid-template-columns: 351px;
}

.name-price {
    display: flex;
    justify-content: space-between;
}

.name span {
    font-size: 18px;
    font-weight: 700;
    color: #ffff;
    font-family: 'Roboto';
}

.price {
    padding: 10px 20px 7px 20px;

    background-color: #210E09;

    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    color: #ffff;
    border: solid #D5621D 2px;
    border-radius: 5px;

    transition: background-color .2s linear;
}

.price:hover {
    background-color: #D5621D;
}

.weight {
    color: #D5621D;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto';
}

.desc span {
    color: #ffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
}

.all-menu-bth {
    margin-top: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.all-menu-bth button{
    background-color: #D5621D;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    
    transition: background-color .2s linear;
}

.all-menu-bth button:hover{
    background-color: #d5631d8a;
}

.all-menu-bth a {
    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto';
}

.events-tourists {
    margin-top: 250px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.kit {
    display: grid;
    grid-template-columns: 376px;
    grid-template-rows: 68px 60px 301px 51px;
    grid-row-gap: 20px;
}
.kit-lable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kit-lable button {
    width: 276px;
    height: 38px;

    background-color: #ffff;
    border: none;
    border-radius: 5px;

    padding: 10px 20px 7px 20px;
}

.kit-lable button span {
    color: #000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
}

.header-kit {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-kit span {
    color: #ffff;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 400;
}

.desc-kit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-kit span {
    display: flex;
    text-align: center;

    color: #ffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
}

.kit-bth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kit-bth button {
    width: 156px;
    height: 51px;

    background-color: #210E09;
    padding: 15px 30px 15px 30px;
    border: #D5621D solid 2px;
    border-radius: 5px;

    transition: background-color .2s linear;
}

.kit-bth button:hover {
    background-color: #D5621D;
}

.kit-bth a {
    color: #ffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}

.rider {
    margin-top: 120px;
}

.rider-frame {
    display: flex;
    justify-content: center;
}

.rider-frame button{
    background-color: #ffff;

    width: 244px;
    height: 38px;

    border: none;
    border-radius: 5px;
    padding: 10px 20px 7px 20px;
}

.rider-frame span {
    color: #000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
}

.rider-label {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.rider-label span {
    color: #ffff;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Roboto';
}

.rider-content {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.tool {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(213, 98, 29, 0.1);
    border: none;
    border-radius: 5px;

    width: 526px;
    height: 67px;
}

.tool:first-child {
    margin-top: 0;
}

.tool span{   
    padding-left: 40px;

    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto';
}

.tool-img {
    padding-right: 40px;
}

.sound-eng {
    display: grid;
    grid-template-columns: 415px;
    grid-template-rows: 126px 210px 42px 40px;
    grid-row-gap: 20px;
}

.sound-label span {
    display: flex;
    text-align: center;

    color: #ffff;
    font-size: 35px;
    stroke-width: 400;
    font-family: 'Roboto';
}

.eng-img {
    display: flex;
    justify-content: space-between;
}

.eng-name {
    display: flex;
    justify-content: space-around;
}

.eng-name span {
    text-align: center;

    color: #ffff;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700; 
}

.eng-mess {
    display: flex;
    justify-content: space-around;
}

.mess-img {
    display: flex;
    align-items: center;
}

.mess-img a:first-child {
    padding-right: 25px;
}

.border-mess {
    width: 40px;
    height: 40px;

    background-color: none;
    border: solid 2px;
    border-radius: 5px;
    border-color: rgba(213, 98, 29, 1);
    transition: background-color, 0.5s, ease;
}

.border-mess:hover {
    transition: background-color, 0.5s, linear;
    background-color: rgba(213, 98, 29, 1);
}

.border-mess img {
    padding: 10px;
}

.place {
    margin-top: 120px;
}

.contact-frame {
    display: flex;
    justify-content: center;
}

.contact-frame button{
    background-color: #ffff;

    width: 244px;
    height: 38px;

    border: none;
    border-radius: 5px;
    padding: 10px 20px 7px 20px;
}

.contact-frame span {
    color: #000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
}

.contact-label {
    margin-top: 40px;

    display: flex;
    justify-content: center;
}

.contact-label span {
    color: #ffff;
    font-size: 35px;
    stroke-width: 400;
    font-family: 'Roboto';
}

.map-and-contact {
    margin-top: 70px;

    display: flex;
    justify-content: space-around;
}

.contact {
    width: 388px;
    height: 656px;

    background-color:rgba(213, 98, 29, 0.1);

    border: solid 2px;
    border-radius: 5px;
    border-color: rgba(213, 98, 29, 1);
}


.map {
    border: solid 2px;
    border-radius: 5px;
    border-color: rgba(213, 98, 29, 1);
}

.contact-ifo {
    padding: 40px;

    display: grid;
    grid-template-columns: 316px;
    grid-template-rows: 89px 68px;
    grid-row-gap: 35px;
}

.directors {
    padding: 40px;

    display: grid;
    grid-template-columns: 316px;
    grid-template-rows:68px;
    grid-row-gap: 35px;
}

#up, #down {
    display: block;
}

#up {
    color: #ffff;
    font-size: 18px;
    stroke-width: 400;
    font-family: 'Roboto';
}

#down {
    padding-top: 35px;

    color: #ffff;
    font-size: 14px;
    stroke-width: 400;
    font-family: 'Montserrat';
}

.contact hr {
    background-color: grey;
    margin: 10px 40px;
    height: 0.1px;
}

#footer {
    background-color: grey;
    margin: 85px 2px 20px 2px;
    height: 0.001px;
}

.footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.footer span {
    color: grey;
    font-size: 14px;
    stroke-width: 400;
    font-family: 'Montserrat';
}

