html {
    background-color: #210E09;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin-left: 312px;
    margin-right: 312px;
}

header {
    margin-top: 0.5vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;

    padding: 0;
}

nav li {
    margin: 15px;
}

nav a{
    color: #ffff;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;

    position: relative;

    transition: color .2s linear;
}

nav a:after {
    content: "";
    width: 100%;
    height: 3px;

    display: block;

    opacity: 0;

    background-color: #D5621D;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opasity .2s linear;
}



nav a:hover {
    color: #D5621D;
}

nav a:hover::after {
    opacity: 1;
}

header button {
    width: 188px;
    height: 51px;

    background-color: #210E09;

    border: #D5621D solid 2px;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;

    transition: background-color .2s linear;
}

header button:hover {
    background-color: #D5621D;
}

header button a{
    color: #ffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}

/* main */

#tools-admin {
    margin-top: 100px;
}

#label {
    margin-bottom: 50px;
}

#label-form, #inscription {
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#label-form span {
    width: 260px;

    padding: 10px 20px 7px 20px;

    color: #000;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
}

#inscription span {
    color: #ffff;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Roboto';
}

/* tools */

#tools {
    margin-bottom: 75px;

    display: flex;
    justify-content: center;

}

#tools form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


#tools label {
    text-align: center;

    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: #ffff;
}

#tools input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;

    color: #fff;
    font-family: 'Montserrat';

    background-color: transparent;
    border: inherit;
    border: 1px solid #D5621D;
}

#tools input:focus {
    outline: none;
}

#tools button {
    margin-right: 10px;

    border-radius: 5px;
    border: #D5621D solid 2px;
    color: #ffff;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: #210E09;

    transition: background-color .2s linear;

    padding: 10px 15px 10px 15px;
}

#tools button:hover {
    background-color: #D5621D;
}

/* tables */

#tables {
    margin-top: 50px;
}

.label {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: #ffff;

    padding: 5px;
}

.date-bd {
    color: #ffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}

#tables table {
    display: flex;
    justify-content: center; 
    border-collapse: collapse;
}

#tables table tbody {
    padding: 10px;
}

#tables table td {
    text-align: center;
    border: 1px solid #D5621D; 
    padding: 8px; 
}

.pagination {
    margin-top: 25px;

    display: flex;
    justify-content: center;
}

.pagination a{
    margin-right: 10px;

    border-radius: 5px;
    border: #D5621D solid 2px;
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: #210E09;

    transition: background-color .2s linear;

    padding: 5px 5px 5px 5px;
}

.pagination a:hover {
    background-color: #D5621D;
}

.pagination a:last-child{
    margin-right: 0px;
}

/* footer */
#footer {
    background-color: grey;
    margin: 85px 2px 20px 2px;
    height: 0.001px;
}

.footer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.footer span {
    color: grey;
    font-size: 14px;
    stroke-width: 400;
    font-family: 'Montserrat';
}

